<div class="btns"><a href="#/plate" class="back"></a></div>
<div class="view">
    <div class="upload-photo">
        <div class="upload-photo-wrapper">
            <div class="pic"><a href="#"><img src="http://lorempixel.com/199/199/cats"></a></div>
            <input type="submit" value="Сохранить" class="save-btn">
            <input type="reset" value="Удалить" class="reset-btn">
        </div>
    </div>
    <div class="upload-info">
        <div class="upload-wrapper">
            <label>Имя</label>
            <input type="text" placeholder="Имя контакта">
            <label>Фамилия</label>
            <input type="text" placeholder="Фамилия контакта">
            <label>  Контактная информация</label>
            <div class="input-group"><span class="input-group-addon call"></span>
                <input type="text" placeholder="+7 911 123 45 67">
            </div>
            <div class="input-group"><span class="input-group-addon send"></span>
                <input type="text" placeholder="yourmail@domain.com">
            </div>
        </div>
    </div>
</div>