<div class="btns"><a href="#/add" class="add">Добавить</a>
    <div class="views"><a href="#/list" class="list active"></a><a href="#/plate" class="plt"></a></div>
</div>
<div class="view">
    <table>
        <thead>
        <tr>
            <td>#</td>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Номер</td>
            <td>Email</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Богдан</td>
            <td>Пономаренко</td>
            <td>+79818609215</td>
            <td>ponomarenko.bogdan@yandex.ru</td>
        </tr>
        </tbody>
    </table>
</div>